<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Subject</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/signup.css">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/header_footer.css">

</head>
<body>
    <%- include ('teacher_header') %>

    <h1>CREATE TOPIC</h1>

    <div class="container_create mt-4">
        <div class="card">               
            <div class="card-body">
                <form action="create_topic" method="POST">
                    <div class="mb-3">
                        <label for="top-name" class="form-label">topic name</label>
                        <input type="text" class="form-control" id="top-name" name="top-name" required>                         
                    </div>
                    <div class="mb-3">
                        <label for="sub-name" class="form-label">subject name</label>
                        <input type="text" class="form-control" id="sub-name" name="sub-name" required>                         
                    </div>
                    <div class="mb-3">
                        <label for="top-img" class="form-label">url for topic image</label>
                        <input type="text" class="form-control" id="top-img" name="top-img" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include ('footer') %>