<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/header_footer.css">

</head>
<body>
    
    <header class="header">
        <div class="flex">

            <a href="/homepage" class="logo">
                <img src="/images/scimentor logo.png" alt="SciMentor Logo">
            </a>
    
            <div class="icons">
                <a href="/topics">
                    <div id="topics-btn" class="fas fa-book" data-tooltip="Topics"></div>
                </a>
                <a href="/progress">
                    <div id="progress-btn" class="fas fa-medal" data-tooltip="Progress"></div>
                </a>
                <div id="user-btn" class="fas fa-user" data-tooltip="Profile"></div>
            </div>

            <% if (loggedIn) { %>
                <div class="prof">
                    <% if (userImage === 'm') { %>
                        <img src="/images/users/m_user.png" alt="Male Profile Image">
                    <% } else { %>
                        <img src="/images/users/f_user.png" alt="Female Profile Image">
                    <% } %>
                    <a href="/profile" class="profile-btn">view profile</a>
                    <div class="flex-btn">
                        <a href="/logout" class="logout-btn">logout</a>
                    </div>
                </div>
                <% } else { %>
                    <div class="prof">
                        <div class="flex-btn">
                            <a href="/login" class="profile-btn">login</a>
                        </div>
                    </div>
                <% } %>
    
        </div>
    </header>
    
<script src="/script.js"></script>
<script src="/app.js"></script>
</body>
</html>