<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/header_footer.css">

</head>
<body>
    
    <header class="header">
        <section class="flex">

            <a href="homepage" class="logo">
                <img src="/images/scimentor logo.png" alt="SciMentor Logo">
            </a>
    
            <div class="icons">
                <a href="topics">
                    <div id="topics-btn" class="fas fa-book"></div>
                </a>
                <div id="progress-btn" class="fas fa-medal"></div>
                <div id="user-btn" class="fas fa-user"></div>
            </div>

            <div class="profile">
                <img src="/images/pic-1.jpg" alt="">
                <h3>name</h3>
                <span>student</span>
                <a href="profile" class="btn">view profile</a>
                <div class="flex-btn">
                    <a href="/" class="option-btn">logout</a>
                </div>
            </div>
    
        </section>
    </header>
    
<script src="/script.js"></script>
</body>
</html>