<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Your Web App</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/index.css">

</head>
<body>
    <div class="index-container">
        <div class="logo__image">
            <img src="/images/scimentor logo.png" alt="Web App Image" class="logo-image">
        </div>
        <img src="/" alt="Web App Image" class="index-image">
        <div class="index-buttons">
            <a href="signup" class="signup-button">SIGN UP</a>
            <a href="login" class="login-button button">LOGIN</a>
        </div>
    </div>
</body>
</html>
