<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/profile.css">
</head>
<body>

    <%- include ('header') %>

    <section class="profile">

        <h1 class="heading">Profile Details</h1>

        <div class="details">
            <div class="user">
                <% if (userImage === 'm') { %>
                    <img src="/images/users/m_user.png" alt="Male Profile Image">
                <% } else { %>
                    <img src="/images/users/f_user.png" alt="Female Profile Image">
                <% } %>
                <h3><%= name %></h3>
                <p>student</p>
                <a href="update_profile" class="inline-btn">update profile</a>
            </div>
        

            <div class="box-container">
            
                <div class="box">
                 <div class="flex">
                    <h3>Biology</h3>
                 </div>
                 <a href="#" class="inline-btn">view progress</a>
                </div>

                <div class="box">
                    <div class="flex">
                        <h3>Chemistry</h3>
                    </div>
                    <a href="#" class="inline-btn">view progress</a>
                   </div>

                   <div class="box">
                    <div class="flex">
                        <h3>Physics</h3>
                    </div>
                    <a href="#" class="inline-btn">view progress</a>
                   </div>

            </div>

        </div>
    </section>

    <%- include ('footer') %>
    <script src="/app.js"></script>
</body>
</html>