<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/quiz.css">
</head>
<body>
    <div class="quiz-container">
        <div id="questionCount"></div>
        <h2>Quiz</h2>
        <img id="questionImage" src="" alt="Question Image" style="display: none; width: 100%; max-width: 400px; height: auto; text-align: center;">
        <div id="question" class="question"></div>
        <div id="choices"></div>
        <div id="feedback" style="display:none;"></div>
        <button id="nextQuestion" style="display: none;">Next</button>
        <div id="score" class="score"></div>
    </div>
    <script>
        localStorage.setItem('studentId', '<%= studentId %>');
    </script>
    <script src="/quiz.js"></script>
</body>
</html>