<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/signup.css">
   <link rel="stylesheet" href="/public/header_footer.css">

</head>
<body>
    <%- include ('logo_top') %>

    <h1>TEACHER LOGIN</h1>

    <% if (locals.error) { %>
        <p class="err_msg"><%= locals.error %></p>
      <% } %>

    <div class="container mt-4">
        <div class="card">               
            <div class="card-body">
                <form action="teacher_login" method="POST">
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">email</label>
                        <input type="email" class="form-control" id="email-reg" name="email" required>                         
                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">password</label>
                        <input type="password" class="form-control" id="password-reg" name="password" required>
                    </div>
                    <div>
                        <a><input type="checkbox" onclick="togglePasswordVisibility()" style="margin-bottom: 15px" style="color: #f1f1f1;"> Show Password</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include ('footer') %>

    <!-- js to toggle password visability -->
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password-reg");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>

</body>
</html>