<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Signup</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/signup.css">
   <link rel="stylesheet" href="/public/header_footer.css">


</head>
<body>
    <%- include ('logo_top') %>

    <h1>TEACHER SIGNUP</h1>

    <% if (messages.error) { %>
        <div class="err_msg">
          <%= messages.error %>
        </div>
      <% } %>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="/teachers_signup" method="POST">
                <div class="mb-3">
                    <label for="name-reg" class="form-label">name <span>*</span></label>
                    <input type="text" class="form-control" id="name-reg" name="name" required>                        
                </div>
                <div class="mb-3">
                    <label for="email-reg" class="form-label">email <span>*</span></label>
                    <input type="email" class="form-control" id="email-reg" name="email" required>                        
                </div>
                <div class="mb-3">
                    <label for="password-reg" class="form-label">password <span>*</span></label>
                    <input type="password" class="form-control" id="password-reg" name="password" required>
                </div>
                <div>
                    <p>By creating an account you agree to our <a href="/privacy" class="privacy-link">Terms & Privacy</a>.</p>
                </div>
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </form>

            <p class="ar">Already registered?</p>
            <a href="/teacher_login" class="login__btn">LOGIN</a>
        </div>
    </div>
</div>

<script src="/app.js"></script>

<%- include ('footer') %>
</body>
</html>