<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/header_footer.css">

</head>
<body>
    
    <header class="header">
        <section class="flex">

            <a href="/teacher_homepage" class="logo">
                <img src="/images/scimentor logo.png" alt="SciMentor Logo">
            </a>
    
            <div class="icons">
                <a href="/teacher_topics">
                    <div id="topics-btn" class="fas fa-book" data-tooltip="Topics"></div>
                </a>
                <a href="/students">
                    <div id="progress-btn" class="fas fa-clipboard" data-tooltip="Reports"></div>
                </a>
                <div id="user-btn" class="fas fa-user" data-tooltip="Profile"></div>
            </div>

            <div class="prof">
                <img src="/images/users/t_user.png" alt="">
                <h3>Teacher</h3>
                <a href="/profile" class="profile-btn">view profile</a>
                <div class="flex-btn">
                    <a href="/logout" class="logout-btn">logout</a>
                </div>
            </div>
    
        </section>
    </header>
    
<script src="/script.js"></script>
</body>
</html>