@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --main-color:#3c89e7;
    --red:#e74c3c;
    --orange:#f39c12;
    --green:#3cd951;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);

}

*{
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body{
    background-color: var(--light-bg);
}

.profile{
    min-height: 75vh;
}

.heading {
    color: var(--orange);
}

.profile .details{
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
}

.profile .details .user{
    background-color: var(--white);
    text-align: center;
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

.profile .details .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.profile .details .user h3{
    font-size: 2.5rem;
    margin: .5rem 0;
}

.profile .details .user p{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: .5rem;
}

.p .login_streak {
    color: var(--orange);
}

.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}

.profile .details .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    flex: 1 1 30rem;
    border-color: var(--light-color);
}

.profile .details .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.flex h3{
    font-size: 2rem;
    margin: .5rem 0;
}

p {
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: .5rem;
}

.unlocked_text {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: .5rem;
}

.achievement_badge {
    width: 70%;
    border-radius: .5rem;
    height: 30rem;
    padding: 1rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

/* glow on hover */
.box-container .box:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
    cursor: pointer;
}

img {
    width: 45%;
    border-radius: .5rem;
    height: 15rem;
    padding: 1rem;
}

.stu_name{
    font-size: 3rem;
    color: var(--black);
}


/* media responsiveness */
@media (max-width: 768px) {
    .box {
        max-width: 350px;
    }
}

@media (max-width: 480px) {
    .profile .achievement_badge {
        max-width: 170px;
    }

    .profile .box-container .box .student_img {
        height: 18rem;
    }
}