@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --main-color:#3c89e7;
    --red:#e74c3c;
    --orange:#f39c12;
    --green:#3cd951;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);

}

*{
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

/* scrollbar */
*::selection{
    background-color: var(--main-color);
    color: #fff;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

.progress{
    min-height: 75vh;
}

.heading {
    color: var(--orange);
}

.progress .details{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    justify-content: center;
}

.progress .details .user{
    text-align: center;
    margin-bottom: 2rem;
}

.progress .details .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.progress .details .user h3{
    font-size: 2.5rem;
    margin: .5rem 0;
}

.progress .details .user p{
    font-size: 2rem;
    color: var(--light-color);
}

.progress .details .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}

.progress .details .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    flex: 1 1 30rem;
}

.progress .details .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.flex h3{
    font-size: 2rem;
    margin: .5rem 0;
}

.score {
    font-size: 1.5rem;
}

.inline-btn {
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: .5rem;
}

.score-image img {
    display: block;
    margin-top: 20px;
    max-width: 320px;
    height: auto;
}

/* media responsiveness */
@media (max-width: 768px) {
    .box {
        max-width: 340px;
    }
}

@media (max-width: 480px) {
    .box-container, .box {
        width: 100%; 
    }

    .box {
        margin-bottom: 20px; 
    }
}