@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --main-color:#3c89e7;
    --red:#e74c3c;
    --orange:#f39c12;
    --green:#3cd951;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);

}

body {
    background-color: var(--light-bg);
    font-family: 'ABeeZee', sans-serif;
    color: var(--black);
    text-align: center; 
}

h1 {
    color: var(--orange);
    font-size: 30px;
}

span{
    color: var(--red);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center; 
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.form-label {
    color: var(--black);
}

.form-control {
    margin-bottom: 15px;
    background-color: var(--light-bg);
}

/* Input fields */
input[type="text"], input[type="password"], input[type="email"] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 8px;
    border: none;
    background: #f1f1f1e0;
  }
  
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    color: black;
    outline: none;
  }

/* Buttons*/
.btn-primary {
    background-color: var(--orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #c6840a; 
}

.ar {
    margin-top: 15px;
    color: var(--black)
}

.login__btn {
    font-size: 1rem;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.login__btn:hover {
    background-color: #1565c0; 
}

.button {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #1565c0; 
}

.privacy-link {
    color: #2196f3; 
}

.privacy-link:hover {
    text-decoration: underline;
}

.err_msg {
    font-size: 1rem;
    padding: .5rem;
    color: var(--red);
}

.forgot-password {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .container {
        min-height: 66vh;
    }
    p {
        font-size: 16px;
    }
    .form-label {
        font-size: 14px;
    }
    .btn-primary,
    .login__btn {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        min-height: 67vh;
    }

    .form-label {
        font-size: 12px;
    }
}