@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --main-color:#3c89e7;
    --red:#e74c3c;
    --orange:#f39c12;
    --green:#3cd951;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);
}

body {
    font-family: 'ABeeZee', sans-serif;
    background-color: #eee;
    margin: 0;
}

.topics {
    min-height: 77vh;
}

.heading {
    font-size: 3.5rem;
    padding: 1rem;
    text-align: center;
    color: var(--orange);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    padding: 2rem;
}

/* Glow on hover */
.box:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

/* create topic */
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    padding: 2rem;
    min-height: 35rem;
    max-width: 33rem;
    margin-left: 15px;
}

/* Glow on hover */
.create:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

/* Image styling */
.thumbnail {
    width: 100%;
    border-radius: .5rem;
    height: 23rem;
    margin-bottom: 10px;
}

/* Button styling */
.inline-btn {
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

.inline-btn:hover {
    background-color: #1a4f9c;
}

.create-btn{
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
}

.create-btn:hover{
    background-color: var(--black);
    color: var(--white);
}

/* Name and type styling */
.top_name {
    font-size: 2rem;
    color: var(--main-color);
}

.sub_type {
    font-size: 1.5rem;
    padding: 1rem;
    color: #555;
}

/* Responsiveness for tablet screens (768px) */
@media screen and (max-width: 768px) {
    .box-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 1rem;
    }

    .box {
        padding: 1rem;
    }

    .thumbnail {
        width: 80%;
    }

    .inline-btn {
        padding: 1rem 2rem;
    }

    .top_name {
        font-size: 2rem;
    }

    .sub_type {
        padding: 0.5rem;
    }

    .create {
        max-width: 38rem;
        margin-left: 8px;
    }
}

/* Responsiveness for phone screens (450px) */
@media screen and (max-width: 480px) {
    .box-container {
        padding: 0.5rem;
        width: 90%;
        margin-left: 20px;
    }

    .box {
        padding: 0.5rem;
    }

    .thumbnail {
        width: 80%;
    }

    .top_name {
        font-size: 1.8rem;
    }

    .sub_type {
        padding: 0.3rem;
    }

    .create {
        max-width: 44rem;
        margin-left: 22px;
    }
}