@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --main-color:#3c89e7;
    --red:#e74c3c;
    --orange:#f39c12;
    --green:#3cd951;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);

}

body {
    background-color: var(--light-bg);
    font-family: 'ABeeZee', sans-serif;
    color: var(--black);
    margin: 0;
}

#container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.page-content {
    display: flex;
}

#content {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
}

#table-of-contents {
    position: fixed;
    flex: 0 0 200px;
    background-color: #f0f0f0;
    padding: 20px;
    top: 200px;
    left: 100px;
    bottom: 0;
    border-color: var(--main-color);
    border-style: solid;
    margin-top: 1rem;
    max-height: 50vh;
    max-width: 25vh;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 0;
}

#table-of-contents a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.page-content, #content, #table-of-contents {
  padding: 10px;
  margin: 5px;
}

.active {
    font-weight: bold;
}

h1,h2{
    color: var(--main-color);
}

li:hover {
    background-color: var(--light-color);
}

section{
    border-color: var(--main-color);
    border-style: solid;
    margin-top: 1rem;
    padding: 1rem;
}

.top_img {
    width: 70%;
    max-width: 100%;
    border-radius: .5rem;
    height: auto;
    padding: 1rem;
}

.top_img2 {
    width: 45%;
    border-radius: .5rem;
    height: 30rem;
    padding: 1rem;
}


.bold {
    font-weight: bold;
}

.question {
    padding-top: 1rem;
    margin-bottom: 15px;
    color: var(--main-color);
}

.answer {
    display: none;
    margin-top: 15px;
    color: var(--black);
}

button {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.img_desc {
    font-size: 15px;
    color: var(--light-color);
}

table {
    font-family: 'ABeeZee', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }

.mySlides {
    display: none;
}

.slide_img {
    vertical-align: middle;
    width: 100%;
    height: 30rem;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media screen and (max-width: 768px) {

    body {
      font-size: 14px;
    }

    h1, h2 {
      font-size: 18px;
    }

    .prev, .next {
      font-size: 18px;
    }
    
    #table-of-contents {
      position: fixed;
      top: 160px;
      left: 20px;
      width: 110px;
      height: 100%;
      overflow-y: auto;
      z-index: 1000;
      background-color: #f0f0f0;
      max-height: 50vh;
      margin-top: 65px;
  }

    #content {
        margin-left: 150px;
    }

    .slideshow-container, .mySlides, .slide_img {
        width: 100%;
    }

    .top_img2 {
      width: 50%;
      border-radius: .5rem;
      height: 30rem;
      padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 18px;
    }

    .prev, .next {
        font-size: 18px;
    }

    #table-of-contents {
      position: fixed;
      top: 160px;
      left: 20px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      z-index: 1000;
      background-color: #f0f0f0;
      max-height: 170px;
      margin-top: 0px;
  }

  #content {
      margin-top: 220px;
      margin-left: 0;
  }

  .top_img2 {
    width: 40%;
    border-radius: .5rem;
    height: 20rem;
    padding: 1rem;
  }
}